/* syne-regular - latin-ext_latin */
@font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/syne-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/syne-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/syne-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/syne-v15-latin-ext_latin-regular.svg#Syne') format('svg'); /* Legacy iOS */
  }
  
  /* syne-700 - latin-ext_latin */
  @font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/syne-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/syne-v15-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/syne-v15-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/syne-v15-latin-ext_latin-700.svg#Syne') format('svg'); /* Legacy iOS */
  }
  
  /* syne-800 - latin-ext_latin */
  @font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/syne-v15-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/syne-v15-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/syne-v15-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/syne-v15-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/syne-v15-latin-ext_latin-800.svg#Syne') format('svg'); /* Legacy iOS */
  }
 
 
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue;
    ;
  }

footer{
    padding-top: 10vh;
    bottom: 0;
    text-align: center;
    font-family: "Syne";
    font-weight: 400;
    font-size: 1em;
    transition: 0.3s ease-in-out;
    color: blue;
    z-index: 3;
}

body {
    margin: 0;
  }
  
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }
  
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .container > div {
    padding: 10px;
    height: 40vh;
    width: 40vh;
    background-image: url("assets/logo_glitch-crop-blackmatte.gif");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 1;
  }
  

    body{
        transition: 0.3s ease-in-out;
    }

