/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue;
    ;
  }

footer{
    padding-top: 10vh;
    bottom: 0;
    text-align: center;
    font-family: "Syne";
    font-weight: 400;
    font-size: 1em;
    transition: 0.3s ease-in-out;
    color: blue;
    z-index: 3;
}

body {
    margin: 0;
  }
  
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
  }
  
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .container > div {
    padding: 10px;
    height: 40vh;
    width: 40vh;
    background-image: url("assets/logo.gif");
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 1;
  }
  

    body{
        transition: 0.3s ease-in-out;
    }

